opencv_python
PyAutoGUI
pywin32
flet==0.24.1
flet_core==0.24.1
pyinstaller
pyuac
pillow
keyboard
requests
onnxruntime-directml
shapely
pyclipper
pyscreeze
tzdata
tzlocal
pytz
pyyaml
winotify
pystray
psutil
mss
numpy